:root {
    /***** Reference tokens *****/
    --ch-ref-color-black-50: #ebebeb;
    --ch-ref-color-black-100: #c0c0c0;
    --ch-ref-color-black-200: #a1a1a1;
    --ch-ref-color-black-300: #767676;
    --ch-ref-color-black-400: #5c5c5c;
    --ch-ref-color-black-500: #333333;
    --ch-ref-color-black-600: #2e2e2e;
    --ch-ref-color-black-700: #242424;
    --ch-ref-color-black-800: #1c1c1c;
    --ch-ref-color-black-900: #151515;
    --ch-ref-color-blue-50: #e9f0fc;
    --ch-ref-color-blue-100: #bad1f4;
    --ch-ref-color-blue-200: #99baef;
    --ch-ref-color-blue-300: #6b9be8;
    --ch-ref-color-blue-400: #4e87e4;
    --ch-ref-color-blue-500: #2269dd;
    --ch-ref-color-blue-600: #1f60c9;
    --ch-ref-color-blue-700: #184b9d;
    --ch-ref-color-blue-800: #133a7a;
    --ch-ref-color-blue-900: #0e2c5d;
    --ch-ref-color-cedar-50: #e6f6f3;
    --ch-ref-color-cedar-100: #b0e3db;
    --ch-ref-color-cedar-200: #8ad6c9;
    --ch-ref-color-cedar-300: #54c3b1;
    --ch-ref-color-cedar-400: #33b8a1;
    --ch-ref-color-cedar-500: #00a68a;
    --ch-ref-color-cedar-600: #00977e;
    --ch-ref-color-cedar-700: #007662;
    --ch-ref-color-cedar-800: #005b4c;
    --ch-ref-color-cedar-900: #00463a;
    --ch-ref-color-green-50: #e6f3e9;
    --ch-ref-color-green-100: #b0d9b9;
    --ch-ref-color-green-200: #8ac698;
    --ch-ref-color-green-300: #55ad68;
    --ch-ref-color-green-400: #349d4b;
    --ch-ref-color-green-500: #01841e;
    --ch-ref-color-green-600: #01781b;
    --ch-ref-color-green-700: #015e15;
    --ch-ref-color-green-800: #014911;
    --ch-ref-color-green-900: #00370d;
    --ch-ref-color-grey-50: #fdfdfd;
    --ch-ref-color-grey-100: #f7f8f9;
    --ch-ref-color-grey-200: #f4f5f6;
    --ch-ref-color-grey-300: #eef1f2;
    --ch-ref-color-grey-400: #ebeeef;
    --ch-ref-color-grey-500: #e6eaeb;
    --ch-ref-color-grey-600: #d1d5d6;
    --ch-ref-color-grey-700: #8a8e8f;
    --ch-ref-color-grey-800: #7f8181;
    --ch-ref-color-grey-900: #616263;
    --ch-ref-color-jade-50: #ecfbf5;
    --ch-ref-color-jade-100: #c4f2e0;
    --ch-ref-color-jade-200: #a8ebd1;
    --ch-ref-color-jade-300: #80e2bd;
    --ch-ref-color-jade-400: #68ddb0;
    --ch-ref-color-jade-500: #42d49c;
    --ch-ref-color-jade-600: #3cc18e;
    --ch-ref-color-jade-700: #2f976f;
    --ch-ref-color-jade-800: #247556;
    --ch-ref-color-jade-900: #1c5942;
    --ch-ref-color-lake-50: #e6edef;
    --ch-ref-color-lake-100: #b0c7cf;
    --ch-ref-color-lake-200: #8aabb7;
    --ch-ref-color-lake-300: #548596;
    --ch-ref-color-lake-400: #336d82;
    --ch-ref-color-lake-500: #004963;
    --ch-ref-color-lake-600: #00425a;
    --ch-ref-color-lake-700: #003446;
    --ch-ref-color-lake-800: #002836;
    --ch-ref-color-lake-900: #001f2a;
    --ch-ref-color-mint-50: #f7fff9;
    --ch-ref-color-mint-100: #e7ffed;
    --ch-ref-color-mint-200: #dcffe5;
    --ch-ref-color-mint-300: #cbffd9;
    --ch-ref-color-mint-400: #c1ffd1;
    --ch-ref-color-mint-500: #b2ffc6;
    --ch-ref-color-mint-600: #a2e8b4;
    --ch-ref-color-mint-700: #7eb58d;
    --ch-ref-color-mint-800: #628c6d;
    --ch-ref-color-mint-900: #4b6b53;
    --ch-ref-color-nocturn-50: #e6eaeb;
    --ch-ref-color-nocturn-100: #b0bdc2;
    --ch-ref-color-nocturn-200: #8a9da4;
    --ch-ref-color-nocturn-300: #55717b;
    --ch-ref-color-nocturn-400: #345561;
    --ch-ref-color-nocturn-500: #012b3a;
    --ch-ref-color-nocturn-600: #012735;
    --ch-ref-color-nocturn-700: #011f29;
    --ch-ref-color-nocturn-800: #011820;
    --ch-ref-color-nocturn-900: #001218;
    --ch-ref-color-purple-50: #f1eef9;
    --ch-ref-color-purple-100: #d4cbeb;
    --ch-ref-color-purple-200: #bfb1e2;
    --ch-ref-color-purple-300: #a18ed4;
    --ch-ref-color-purple-400: #8f78cc;
    --ch-ref-color-purple-500: #7356bf;
    --ch-ref-color-purple-600: #694eae;
    --ch-ref-color-purple-700: #523d88;
    --ch-ref-color-purple-800: #3f2f69;
    --ch-ref-color-purple-900: #302450;
    --ch-ref-color-red-50: #fbe6e6;
    --ch-ref-color-red-100: #f1b3b1;
    --ch-ref-color-red-200: #eb8e8b;
    --ch-ref-color-red-300: #e25a56;
    --ch-ref-color-red-400: #dc3a35;
    --ch-ref-color-red-500: #d30903;
    --ch-ref-color-red-600: #c00803;
    --ch-ref-color-red-700: #960602;
    --ch-ref-color-red-800: #740502;
    --ch-ref-color-red-900: #590401;
    --ch-ref-color-saffron-50: #ffeded;
    --ch-ref-color-saffron-100: #ffc8c6;
    --ch-ref-color-saffron-200: #ffadaa;
    --ch-ref-color-saffron-300: #ff8783;
    --ch-ref-color-saffron-400: #ff706b;
    --ch-ref-color-saffron-500: #ff4c46;
    --ch-ref-color-saffron-600: #e84540;
    --ch-ref-color-saffron-700: #b53632;
    --ch-ref-color-saffron-800: #8c2a27;
    --ch-ref-color-saffron-900: #6b201d;
    --ch-ref-color-spring-50: #f3fef7;
    --ch-ref-color-spring-100: #dafde6;
    --ch-ref-color-spring-200: #c8fcda;
    --ch-ref-color-spring-300: #affac9;
    --ch-ref-color-spring-400: #9ff9be;
    --ch-ref-color-spring-500: #87f8ae;
    --ch-ref-color-spring-600: #7be29e;
    --ch-ref-color-spring-700: #60b07c;
    --ch-ref-color-spring-800: #4a8860;
    --ch-ref-color-spring-900: #396849;
    --ch-ref-color-tea-50: #fcfffc;
    --ch-ref-color-tea-100: #f5fff5;
    --ch-ref-color-tea-200: #f0fff0;
    --ch-ref-color-tea-300: #eaffe9;
    --ch-ref-color-tea-400: #e5ffe5;
    --ch-ref-color-tea-500: #dfffde;
    --ch-ref-color-tea-600: #cbe8ca;
    --ch-ref-color-tea-700: #9eb59e;
    --ch-ref-color-tea-800: #7b8c7a;
    --ch-ref-color-tea-900: #5e6b5d;
    --ch-ref-color-yellow-50: #fff7eb;
    --ch-ref-color-yellow-100: #ffe7c0;
    --ch-ref-color-yellow-200: #ffdca1;
    --ch-ref-color-yellow-300: #ffd581;
    --ch-ref-color-yellow-400: #ffc25c;
    --ch-ref-color-yellow-500: #ffb333;
    --ch-ref-color-yellow-600: #e8a32e;
    --ch-ref-color-yellow-700: #b57f24;
    --ch-ref-color-yellow-800: #8c621c;
    --ch-ref-color-yellow-900: #6b4b15;
    --ch-ref-unit-1: 4px;
    --ch-ref-unit-2: 8px;
    --ch-ref-unit-3: 12px;
    --ch-ref-unit-4: 16px;
    --ch-ref-unit-5: 20px;
    --ch-ref-unit-6: 24px;
    --ch-ref-unit-7: 28px;
    --ch-ref-unit-8: 32px;
    --ch-ref-unit-9: 36px;
    --ch-ref-unit-10: 40px;
    --ch-ref-unit-11: 44px;
    --ch-ref-unit-12: 48px;
    --ch-ref-unit-13: 52px;
    --ch-ref-unit-14: 56px;
    --ch-ref-unit-15: 60px;
    --ch-ref-unit-16: 64px;
    --ch-ref-unit-17: 68px;
    --ch-ref-unit-18: 72px;
    --ch-ref-unit-19: 76px;
    --ch-ref-unit-20: 80px;


    /***** System tokens *****/
    --ch-sys-alpha-disabled: var(--ch-ref-unit-10);
    --ch-sys-alpha-loading: var(--ch-ref-unit-16);
    --ch-sys-alpha-overlay: var(--ch-ref-unit-16);
    --ch-sys-color-app-surface: #000000;
    --ch-sys-color-base-border: var(--ch-ref-color-black-400);
    --ch-sys-color-base-border-subtle: var(--ch-ref-color-black-400);
    --ch-sys-color-base-content: var(--ch-ref-color-grey-50);
    --ch-sys-color-base-content-subtle: var(--ch-ref-color-black-100);
    --ch-sys-color-base-surface: var(--ch-ref-color-black-900);
    --ch-sys-color-base-surface-hovered: var(--ch-ref-color-black-600);
    --ch-sys-color-base-surface-pressed: var(--ch-ref-color-black-700);
    --ch-sys-color-base-surface-selected: var(--ch-ref-color-black-700);
    --ch-sys-color-brand-1-border: var(--ch-ref-color-lake-500);
    --ch-sys-color-brand-1-fill: var(--ch-ref-color-lake-50);
    --ch-sys-color-brand-1-fill-hovered: var(--ch-ref-color-lake-100);
    --ch-sys-color-brand-1-fill-pressed: var(--ch-ref-color-lake-200);
    --ch-sys-color-brand-1-on-fill: var(--ch-ref-color-lake-800);
    --ch-sys-color-disabled-border: var(--ch-ref-color-black-400);
    --ch-sys-color-disabled-content: var(--ch-ref-color-black-200);
    --ch-sys-color-disabled-surface: var(--ch-ref-color-black-600);
    --ch-sys-color-discovery-border: var(--ch-ref-color-purple-300);
    --ch-sys-color-discovery-content: var(--ch-ref-color-purple-200);
    --ch-sys-color-discovery-fill: var(--ch-ref-color-purple-500);
    --ch-sys-color-discovery-surface: var(--ch-ref-color-purple-800);
    --ch-sys-color-discovery-surface-hovered: var(--ch-ref-color-purple-600);
    --ch-sys-color-discovery-surface-pressed: var(--ch-ref-color-purple-700);
    --ch-sys-color-focus-border: #0065ff;
    --ch-sys-color-focus-border-alt: var(--ch-ref-color-grey-50);
    --ch-sys-color-info-content: var(--ch-ref-color-blue-200);
    --ch-sys-color-info-surface: var(--ch-ref-color-blue-500);
    --ch-sys-color-inverse-border: var(--ch-ref-color-grey-50);
    --ch-sys-color-inverse-content: var(--ch-ref-color-black-800);
    --ch-sys-color-inverse-fill: var(--ch-sys-color-opacity-inverse-surface);
    --ch-sys-color-inverse-fill-hovered: var(--ch-sys-color-opacity-inverse-surface-hovered);
    --ch-sys-color-inverse-fill-pressed: var(--ch-sys-color-opacity-inverse-surface-pressed);
    --ch-sys-color-inverse-on-fill: var(--ch-ref-color-black-800);
    --ch-sys-color-inverse-surface: var(--ch-ref-color-grey-50);
    --ch-sys-color-inverse-surface-hovered: var(--ch-ref-color-grey-200);
    --ch-sys-color-inverse-surface-pressed: var(--ch-ref-color-grey-300);
    --ch-sys-color-inverse-surface-selected: var(--ch-ref-color-grey-500);
    --ch-sys-color-link-content: var(--ch-ref-color-grey-50);
    --ch-sys-color-link-content-hovered: var(--ch-ref-color-grey-200);
    --ch-sys-color-nav-content: var(--ch-ref-color-lake-800);
    --ch-sys-color-nav-fill: var(--ch-ref-color-lake-500);
    --ch-sys-color-nav-fill-hovered: var(--ch-ref-color-lake-700);
    --ch-sys-color-nav-fill-pressed: var(--ch-ref-color-lake-800);
    --ch-sys-color-nav-on-fill: var(--ch-ref-color-lake-50);
    --ch-sys-color-nav-surface: var(--ch-ref-color-lake-50);
    --ch-sys-color-nav-surface-hovered: var(--ch-ref-color-lake-100);
    --ch-sys-color-nav-surface-pressed: var(--ch-ref-color-lake-200);
    --ch-sys-color-negative-border: var(--ch-ref-color-red-200);
    --ch-sys-color-negative-content: var(--ch-ref-color-red-200);
    --ch-sys-color-negative-surface: var(--ch-ref-color-red-700);
    --ch-sys-color-neutral-border: var(--ch-ref-color-black-800);
    --ch-sys-color-neutral-fill: var(--ch-ref-color-black-700);
    --ch-sys-color-neutral-fill-hovered: var(--ch-ref-color-black-600);
    --ch-sys-color-neutral-fill-pressed: var(--ch-ref-color-black-500);
    --ch-sys-color-neutral-icon: var(--ch-ref-color-black-100);
    --ch-sys-color-neutral-icon-hovered: var(--ch-ref-color-black-200);
    --ch-sys-color-neutral-icon-pressed: var(--ch-ref-color-black-300);
    --ch-sys-color-opacity-disabled-surface: #ffffff66;
    --ch-sys-color-opacity-inverse-surface: #ffffffa3;
    --ch-sys-color-opacity-inverse-surface-hovered: #ffffffc1;
    --ch-sys-color-opacity-inverse-surface-pressed: #ffffffcc;
    --ch-sys-color-opacity-surface: #333333a3;
    --ch-sys-color-opacity-surface-hovered: #333333c1;
    --ch-sys-color-opacity-surface-pressed: #333333cc;
    --ch-sys-color-opacity-uploading-surface: #333333a3;
    --ch-sys-color-overlay-fill: var(--ch-sys-color-opacity-surface);
    --ch-sys-color-overlay-fill-hovered: var(--ch-sys-color-opacity-surface-hovered);
    --ch-sys-color-overlay-fill-pressed: var(--ch-sys-color-opacity-surface-pressed);
    --ch-sys-color-overlay-on-fill: var(--ch-ref-color-grey-50);
    --ch-sys-color-positive-border: var(--ch-ref-color-green-500);
    --ch-sys-color-positive-content: var(--ch-ref-color-green-300);
    --ch-sys-color-positive-fill: var(--ch-ref-color-green-300);
    --ch-sys-color-positive-on-fill: var(--ch-ref-color-grey-50);
    --ch-sys-color-positive-surface: var(--ch-ref-color-green-600);
    --ch-sys-color-primary-content: var(--ch-ref-color-nocturn-500);
    --ch-sys-color-primary-fill: var(--ch-ref-color-grey-50);
    --ch-sys-color-primary-fill-hovered: var(--ch-ref-color-grey-200);
    --ch-sys-color-primary-fill-pressed: var(--ch-ref-color-grey-300);
    --ch-sys-color-primary-on-fill: var(--ch-ref-color-black-800);
    --ch-sys-color-raised-surface: var(--ch-ref-color-black-700);
    --ch-sys-color-raised-surface-hovered: var(--ch-ref-color-black-600);
    --ch-sys-color-raised-surface-pressed: var(--ch-ref-color-black-500);
    --ch-sys-color-raised-surface-selected: var(--ch-ref-color-black-500);
    --ch-sys-color-recessed-surface: var(--ch-ref-color-black-400);
    --ch-sys-color-secondary-fill: var(--ch-ref-color-grey-900);
    --ch-sys-color-secondary-fill-hovered: var(--ch-ref-color-grey-700);
    --ch-sys-color-secondary-fill-pressed: var(--ch-ref-color-grey-800);
    --ch-sys-color-secondary-on-fill: var(--ch-ref-color-grey-50);
    --ch-sys-color-selected-border: var(--ch-ref-color-grey-50);
    --ch-sys-color-transparent-border: #fdfdfd00;
    --ch-sys-color-transparent-fill: #fdfdfd00;
    --ch-sys-color-warning-border: var(--ch-ref-color-yellow-700);
    --ch-sys-color-warning-content: var(--ch-ref-color-yellow-300);
    --ch-sys-color-warning-surface: var(--ch-ref-color-yellow-500);
    --ch-sys-content-max-width: 1440px;
    --ch-sys-grid-desktop-column: var(--ch-ref-unit-3);
    --ch-sys-grid-desktop-gutter: var(--ch-ref-unit-10);
    --ch-sys-grid-desktop-margin: var(--ch-ref-unit-10);
    --ch-sys-grid-mobile-column: var(--ch-ref-unit-1);
    --ch-sys-grid-mobile-gutter: var(--ch-ref-unit-4);
    --ch-sys-grid-mobile-margin: var(--ch-ref-unit-4);
    --ch-sys-grid-tablet-column: var(--ch-ref-unit-2);
    --ch-sys-grid-tablet-gutter: var(--ch-ref-unit-10);
    --ch-sys-grid-tablet-margin: var(--ch-ref-unit-8);
    --ch-sys-icon-size-3: var(--ch-ref-unit-3);
    --ch-sys-icon-size-4: var(--ch-ref-unit-4);
    --ch-sys-icon-size-5: var(--ch-ref-unit-5);
    --ch-sys-icon-size-6: var(--ch-ref-unit-6);
    --ch-sys-icon-size-7: var(--ch-ref-unit-7);
    --ch-sys-radii-1: var(--ch-ref-unit-1);
    --ch-sys-radii-2: var(--ch-ref-unit-2);
    --ch-sys-radii-4: var(--ch-ref-unit-4);
    --ch-sys-radii-6: var(--ch-ref-unit-6);
    --ch-sys-radii-circle: 50%;
    --ch-sys-radii-pills: 999px;
    --ch-sys-size-2: var(--ch-ref-unit-2);
    --ch-sys-size-3: var(--ch-ref-unit-3);
    --ch-sys-size-4: var(--ch-ref-unit-4);
    --ch-sys-size-6: var(--ch-ref-unit-6);
    --ch-sys-size-8: var(--ch-ref-unit-8);
    --ch-sys-size-10: var(--ch-ref-unit-10);
    --ch-sys-size-12: var(--ch-ref-unit-12);
    --ch-sys-size-14: var(--ch-ref-unit-14);
    --ch-sys-size-16: var(--ch-ref-unit-16);
    --ch-sys-size-18: var(--ch-ref-unit-18);
    --ch-sys-spacing-1: var(--ch-ref-unit-1);
    --ch-sys-spacing-2: var(--ch-ref-unit-2);
    --ch-sys-spacing-3: var(--ch-ref-unit-3);
    --ch-sys-spacing-4: var(--ch-ref-unit-4);
    --ch-sys-spacing-6: var(--ch-ref-unit-6);
    --ch-sys-spacing-10: var(--ch-ref-unit-10);
    --ch-sys-spacing-12: var(--ch-ref-unit-12);
    --ch-sys-spacing-14: var(--ch-ref-unit-14);
    --ch-sys-spacing-16: var(--ch-ref-unit-16);
    --ch-sys-spacing-horizontal-to-element-large: var(--ch-ref-unit-6);
    --ch-sys-spacing-horizontal-to-element-medium: var(--ch-ref-unit-4);
    --ch-sys-spacing-horizontal-to-element-small: var(--ch-ref-unit-3);
    --ch-sys-spacing-horizontal-to-element-x-small: var(--ch-ref-unit-2);
    --ch-sys-spacing-horizontal-to-text-large: var(--ch-ref-unit-6);
    --ch-sys-spacing-horizontal-to-text-medium: var(--ch-ref-unit-4);
    --ch-sys-spacing-horizontal-to-text-small: var(--ch-ref-unit-3);
    --ch-sys-spacing-horizontal-to-text-x-small: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-horizontal-between-default: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-horizontal-between-sections: var(--ch-ref-unit-10);
    --ch-sys-spacing-layout-horizontal-component-default: var(--ch-ref-unit-6);
    --ch-sys-spacing-layout-horizontal-text-to-element: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-vertical-between-default: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-vertical-between-sections: var(--ch-ref-unit-10);
    --ch-sys-spacing-layout-vertical-between-text: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-vertical-component-default: var(--ch-ref-unit-6);
    --ch-sys-spacing-layout-vertical-content-to-button: var(--ch-ref-unit-10);
    --ch-sys-spacing-layout-vertical-text-to-component: var(--ch-ref-unit-2);
    --ch-sys-spacing-layout-vertical-title-text-bottom: var(--ch-ref-unit-6);
    --ch-sys-spacing-text-to-element-large: var(--ch-ref-unit-6);
    --ch-sys-spacing-text-to-element-medium: var(--ch-ref-unit-4);
    --ch-sys-spacing-text-to-element-x-small: var(--ch-ref-unit-2);
    --ch-sys-spacing-text-to-element-xx-small: var(--ch-ref-unit-1);
    --ch-sys-spacing-vertical-to-element-large: var(--ch-ref-unit-6);
    --ch-sys-spacing-vertical-to-element-medium: var(--ch-ref-unit-4);
    --ch-sys-spacing-vertical-to-element-small: var(--ch-ref-unit-3);
    --ch-sys-spacing-vertical-to-element-x-small: var(--ch-ref-unit-2);
    --ch-sys-spacing-vertical-to-element-xx-small: var(--ch-ref-unit-1);
    --ch-sys-stroke-weight-base: 1px;
    --ch-sys-stroke-weight-focus-base: 2px;
    --ch-sys-stroke-weight-focus-thick: 3px;
    --ch-sys-stroke-weight-focus-thin: 1px;
    --ch-sys-stroke-weight-none: 0;
    --ch-sys-stroke-weight-selected: 2px;
    --ch-sys-touch-target-area: var(--ch-ref-unit-12);
}